@import "reset.css";
@import "fonts.css";
@import "global.css";
@import "header.css";
@import "footer.css";
@import "accordeon.css";

:root {
  --accent-1: #ffa55c;
  --accant-1-active: #ff9138;
  --accent-2: #ceaad0;
  --info-color: #b197b2;
  --elements-bg-color: #ffe0cb;
  --main-bg-color: #fff9f4;
  --titles-color: #1f1711;
  --text-color: #312c27;
  --purple-color: #704174;
  --disabled-color: #e1d9e1;
  --inputy-color: #ac907a;
  --footer-bg-color: #ab8261;
  --copy-color: #dec5b1;
  --transition: all 0.4s ease;
  --border-radius: 20px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

/* =============ABOUT======================================== */
.main__about {
  padding: 140px 0;
}
.about__container {
  display: grid;
  grid-template: repeat(2, auto) / 1fr 1.05fr;
  gap: 40px 53px;
}

.about__content {
  display: block;
  /* max-width: 624px; */
  width: 100%;
}
.about__descripter {
  margin-bottom: 30px;
}

.about__grid-container {
  display: grid;
  gap: 32px;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
}
.grid__item {
  padding: 30px 25px;
  border-radius: var(--border-radius);
  background-color: var(--elements-bg-color);
  display: flex;
  align-items: center;
  gap: 15px;
}
.grid__item-img {
  flex: 0 0 60px;
  height: 60px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__img {
  grid-row: 1/-1;
  display: block;
  max-width: 600px;
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.about__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}
.about__button {
  position: absolute;
  bottom: 7%;
  left: 5.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  text-align: left;
  color: var(--main-bg-color);
  background-color: #957b97e6;
  padding: 15px 20px;
  border-radius: var(--border-radius);
}
.about__play-button {
  position: relative;
  flex: 0 0 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  width: 78px;
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  background-color: var(--main-bg-color);
  cursor: pointer;
}
.about__play-button::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 100%;
  border: 1px solid #ceaad0;
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  opacity: 0;
  transition: opacity 0.4s ease;
}
.about__play-button:hover::after {
  opacity: 1;
}

/* =============PROGRAM======================================== */

.main__program {
  margin-bottom: 140px;
}

.program__top-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.program__title {
  margin-bottom: 20px;
}
.program__text {
  max-width: 374px;
}

.program__bot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.program__bot-content {
  max-width: 500px;
  flex-shrink: 0;
  display: grid;
  grid-template: repeat(2, auto) 62px / 287px 173px;
  gap: 40px;
}
.program__sale {
  background: var(--elements-bg-color);
  grid-row: 1/3;
  border-radius: var(--border-radius);
  padding: 40px;
}
.program__sale-title {
  font-size: 20px;
}
.program__sale-value {
  display: block;
  font-family: "Gabriola", sans-serif;
  margin-bottom: 7px;
  font-size: 74px;
  line-height: 0.82;
  text-align: center;
  color: var(--accent-1);
  transition: (var(--transition));
  transform-origin: 0 0;
  animation: sale-value-action 0.8s linear infinite alternate;
}
@keyframes sale-value-action {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    color: var(--accant-1-active);
  }
}
.program__sale-date {
  display: block;
  text-align: right;
}
.program__discont-text {
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--accent-2);
}
.program__discont-value {
  display: block;
  margin-top: 5px;
  font-family: "Gabriola", sans-serif;
  font-size: 32px;
  line-height: 0.9;
  text-transform: none;
  color: var(--text-color);
}
.program__discont-value--large {
  color: var(--titles-color);
  font-size: 50px;
}
.program__button {
  grid-column: 1/-1;
}

.program__bot-img img {
  width: 100%;
  height: 100%;
  object-position: 0 0;
  object-fit: cover;
}

/* ===================================================== */

.main__gallery {
  margin-bottom: 140px;
}


.gallery__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 32px;
  margin-bottom: 40px;
}
.gallery__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__img img {
  max-width: 100%;
}
.gallery__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
.gallery__text-content {
  max-width: 380px;
}
.gallery__title {
  margin-bottom: 20px;
}
.gallery__controls {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 170px;
  width: 100%;
  height: 38px;
}
.gallery__button-prev,
.gallery__button-next {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: transparent;
  transition: var(--transition);
  border: 1.5px solid var(--accent-1);
}

.gallery__button-next path,
.gallery__button-prev path {
  fill: var(--accent-1);
}
.gallery__button-next:hover,
.gallery__button-prev:hover {
  background: var(--accent-1);
}
.gallery__button-next:hover path,
.gallery__button-prev:hover path {
  fill: var(--main-bg-color);
}
.gallery__button-next.swiper-button-disabled,
.gallery__button-prev.swiper-button-disabled {
  background: transparent;
  border: 1.5px solid var(--disabled-color);
}
.gallery__button-next.swiper-button-disabled path,
.gallery__button-prev.swiper-button-disabled path {
  fill: var(--disabled-color);
}

.gallery__pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 38px;
  max-width: 70px;
  font-family: "Gabriola", sans-serif;
  text-align: center;
  font-size: 42px;
  line-height: 0.9;
  transform: translate(-50%, -50%);
}
.gallery__slid {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.gallery__slid img {
  width: 100%;
}
/* ==================================================== */

.main__comment {
  margin-bottom: 140px;
}

.comment__title {
  max-width: 632px;
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 20px;
}
.comment__top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}
.comment__text {
  max-width: 632px;
}

.comment__controls {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;
  width: 100%;
  height: 38px;
}
.comment__button-prev,
.comment__button-next {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: transparent;
  transition: var(--transition);
  border: 1.5px solid var(--accent-1);
}

.comment__button-next path,
.comment__button-prev path {
  fill: var(--accent-1);
}
.comment__button-next:hover,
.comment__button-prev:hover {
  background: var(--accent-1);
}
.comment__button-next:hover path,
.comment__button-prev:hover path {
  fill: var(--main-bg-color);
}
.comment__button-next.swiper-button-disabled,
.comment__button-prev.swiper-button-disabled {
  background: transparent;
  border: 1.5px solid var(--disabled-color);
}
.comment__button-next.swiper-button-disabled path,
.comment__button-prev.swiper-button-disabled path {
  fill: var(--disabled-color);
}

.comment__slider.swiper {
  overflow: visible;
}
.comment__slider-wrapper {
  margin-bottom: 40px;
}
.comment__slid {
  background: var(--elements-bg-color);
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 30px 40px;
  gap: 30px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  transform: scale(1);
}
.comment__slid.swiper-slide-prev,
.comment__slid.swiper-slide-next {
  transform: scale(0.9);
  opacity: 0.5;
  visibility: visible;
}
.comment__slid.swiper-slide-active {
  opacity: 1;
  visibility: visible;
}
.comment__slid-student {
  max-width: 165px;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}
.comment__slid-img {
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 20px;
}
.comment__slid-img img {
  width: 100%;
}
.comment__slid-student-name {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--titles-color);
  line-height: 1.6;
}
.comment__slid-inst {
  line-height: 1.5;
  color: var(--accent-2);
}
.comment__slid-inst img {
  margin-right: 8px;
}

.comment__slid-title {
  font-size: 32px;
  line-height: 0.9;
  color: var(--titles-color);
  margin-bottom: 10px;
  max-width: 369px;
  width: 100%;
}


.comment__scrollbar {
  border-radius: 100px;
  background: var(--elements-bg-color);
  height: 7px;
}
.comment__scrollbar .swiper-scrollbar-drag {
  background: var(--accent-1);
}


.contact {
  background: url("../img/decor/footer-bg.png") 50% 0 / cover no-repeat;
  padding: 140px 0;
}
.contact__container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 7%;
}
.contact__img {
  max-width: 574px;
  width: 100%;
  filter: drop-shadow(0 4px 30px rgba(198, 176, 161, 0.3));
}
.contact__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.contact__content {
  flex-shrink: 0;
  max-width: 420px;
}
.contact__title {
  font-size: 74px;
  line-height: 0.82;
  margin-bottom: 20px;
}
.contact__text {
  margin-bottom: 40px;
}

.contact__input {
  margin-bottom: 10px;
}
.contact__input:focus {
  color: var(--inputy-color);
}
.contact__input:last-child {
  margin-bottom: 20px;
}
.contact__check-input {
  cursor: pointer;
  appearance: none;
  border: 1.5px solid var(--inputy-color);
  border-radius: 4px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.contact__check-input::before {
  content: "";
  background: url("../img/icons/check.svg") center no-repeat;
  width: 9px;
  height: 6px;
  opacity: 0;
}
.contact__check-input:checked::before {
  opacity: 1;
}
.contact__check-input:hover {
  border-color: var(--accent-1);
}

.contact__check-input:checked {
  background: var(--accent-1);
  border-color: var(--accent-1);
}
.contact__button {
  margin-top: 20px;
}

.contact__politic {
  transition: var(--transition);
}
.contact__politic:hover {
  text-decoration: underline;
}

.tel-mask:focus {
  padding: 19px 28px;
}
.contant__berry-1 {
  position: absolute;
  top: 10%;
  right: 0;
}
.contant__berry-2 {
  position: absolute;
  top: -4%;
  left: 0;
}

/* ===================================================== */
@media (max-width: 1200px) {
  .about__img {
    grid-row: auto;
  }
  .about__grid-container {
    grid-column: 1/-1;
  }
  .about__content {
    align-self: center;
  }
}
@media (max-width: 1050px) {
  .header__img {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    gap: 10px;
  }
  .header__play-button {
    position: static;
  }
  /* ===================================== */
  .program__title {
    text-align: center;
  }
  .program__text {
    max-width: 500px;
    margin: 0 auto;
  }
  .program__top-container {
    grid-template-columns: 1fr;
    justify-self: center;
    text-align: center;
  }
  .program__tabs {
    justify-content: center;
  }

  /* ===================================== */

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .footer__col:last-child {
    grid-column: 1/-1;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .header__logo {
    position: relative;
    z-index: 11;
  }
  .header__nav {
    position: fixed;
    inset: 0;
    background-color: var(--main-bg-color);
    z-index: 10;
    padding: 130px 50px;
    transform: translateY(-100%);
    opacity: 0;
    transition: var(--transition);
    visibility: hidden;
  }
  .body-open-menu .header__nav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .header__nav .nav__list {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
  }
  .header__nav .nav__link {
    padding: 10px 5px;
    text-wrap: nowrap;
    display: inline-block;
  }
  .burger-menu {
    position: relative;
    z-index: 11;
    display: flex;
  }

  /* =============================== */
  .program__top-container {
    margin-bottom: 20px;
  }
  .accordeon {
    margin-bottom: 20px;
  }
  .accordeon__content {
    padding: 0 15px;
  }
  .accord__button {
    padding: 20px 15px;
  }
  .accord__title {
    font-size: 34px;
  }
  .accord__button-arrow {
    width: 24px;
    height: 24px;
  }
  .accord__button-arrow svg {
    width: 10px;
  }

  .program__bot-img {
    display: none;
  }
  .program__bot-content {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template: repeat(2, auto) 62px / 280px auto;
    gap: 40px;
  }
  /* =============================== */
  /* =============================== */

  .comment__top {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .comment__controls {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  /* =============================== */
  /* =============================== */
  .contact__container {
    justify-content: center;
  }
  .contact__img {
    display: none;
  }
}
@media (max-width: 800px) {
  .header__img-container {
    display: none;
  }
  .header__content {
    max-width: none;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header__title {
    font-size: 10vw;
  }
  .header__text {
    font-size: 3vw;
  }
  .header__button {
    max-width: 320px;
    width: 100%;
  }
  .header__play-button--mobile {
    display: flex;
  }
  /* ====================================== */
  .tabs {
    gap: 10px;
    flex-wrap: wrap;
  }
  .accordeon__content {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5px;
  }
  .accordeon__content-list {
    margin-bottom: 20px;
  }
  .accordeon__content-practic {
    grid-row: 3/4;
  }

  .accordeon__content-text {
    max-width: none;
  }
  /* ====================================== */
  .about__button {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
    max-width: none;
  }
  .about__img {
    justify-self: center;
  }
  .about__container {
    grid-template: none;
  }
  .about__content {
    text-align: center;
  }

  /* ====================================== */
  .gallery__img {
    display: none;
  }

  .gallery__container {
    display: block;
  }

  /* ====================================== */
  .footer__container {
    grid-template: none;
    text-align: center;
  }
  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .contant__berry-2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .about__grid-container {
    grid-template: none;
  }
  .program__title {
    font-size: 12vw;
  }
  .program__bot-content {
    width: 100%;
    grid-template: repeat(3, auto) / repeat(2, auto);
    gap: 20px;
  }
  .program__sale {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0 auto;
    max-width: 280px;
  }
  .program__discont-text {
    text-align: center;
  }
  /* ===============================*/
  .gallery__container {
    margin-bottom: 20px;
  }
  .gallery__info {
    display: block;
  }
  .gallery__text-content {
    margin-bottom: 20px;
  }
  .gallery__controls {
    margin-left: auto;
  }
  .gallery__title {
    font-size: 12vw;
  }
  /* ===============================*/
  /* ===============================*/
  .comment__slid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 20px;
    gap: 15px;
    opacity: 0;
    text-align: center;
  }
  .comment__slid-title {
    max-width: none;
  }
  .comment__scrollbar {
    width: 50%;
    margin: 0 auto;
  }
  /* ===============================*/
  /* ===============================*/

  .contact__content {
    flex-shrink: 1;
  }
  .contact__title {
    font-size: 12vw;
  }
}

@media (max-width: 500px) {
  .header__text {
    font-size: 3.5vw;
  }

  .popup__body {
    padding: 0 15px 30px 15px;
  }
  .popup__title {
    font-size: 35px;
    text-align: center;
  }
  .popup__subtitle {
    text-align: center;
  }

  /* ===============================*/
  .accord__title {
    font-size: 26px;
  }
  .accordeon__content-item {
    margin-bottom: 10px;
  }
  .program__bot-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ===============================*/
  /* ===============================*/
  .comment__title {
    font-size: 12vw;
  }
  /* ===============================*/
  /* ===============================*/
  .contact {
    padding: 80px 0;
  }
  .contant__berry-1 {
    display: none;
  }
}

@media (max-width: 400px) {
  .main__about {
    padding: 60px 0;
  }
  .about__title {
    font-size: 60px;
  }
  .about__grid-container {
    gap: 10px;
  }
  .about__button {
    padding: 10px 10px;
  }

  .popup__img {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .popup__img img {
    max-width: 80%;
  }
  .popup__subtitle {
    margin-bottom: 10px;
  }
}
